    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
    :root{
        --verde: #39ff14;
        --blanco: #fff;
        --negro: #000;
    }

    *{
        font-family: "Titilium Web";
        margin: 0;
        padding: 0;
    }

    html{
        scroll-behavior: smooth;
    }
    


    /*----------SECCION INICIO----------*/
    .inicio{
        background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg");
        background-size: cover;
        background-position: center center; 
        color: var(--blanco);
    }

    .inicio .contenido-seccion{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        padding: 0 100px;
    } 

    .inicio .contenido-seccion header{
        padding: 30px;
    }



    /*-----------MENU LATERAL-----------*/
    .inicio .contenido-seccion header nav{
        position: fixed;
        margin-left: 60px;
        background-color: var(--verde);   
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        z-index: 99; 
        display: none;
    }

    .inicio .contenido-seccion header nav a{
        display: block;
        color: var(--blanco);
        text-decoration: none;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .inicio .contenido-seccion header .logo{
        font-weight: bold;
        font-size: 50px; /*---Modificado---(Inicialmente era de 2.5rem)*/
        font-family: "Yellowtail";
        text-shadow: 0 0 35px var(--blanco);
    }

    .inicio .contenido-seccion header .logo .color{
        color: var(--verde);
        font-family: "Yellowtail";
    }

    .inicio .contenido-seccion header .nav-bar{
        position: fixed;
        background-color: var(--verde);
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        cursor: pointer;
        transition: .3s;
    }

    .inicio .contenido-seccion header .nav-bar:hover{
        box-shadow: 0 0 35px var(--blanco);
    }

    .inicio .contenido-seccion .info{
        padding-bottom: 30px; /*------Modificado----(Inicialmente era de 130px y creo que lo debí modificar porque la backgroun-image no es del mismo tamaño que la del ejemplo)*/
        margin: 30px; /*-----Agregado---------(Por la misma razon que la modificacion de arriba)*/
    }

    .inicio .contenido-seccion .info h1{
        font-size: 3rem;
        letter-spacing: 5px;
    }

    .inicio .contenido-seccion .info h2{
        font-weight: normal;
        font-size: 20px;
        margin-top: -10px;
        letter-spacing: 2px;
    }

    .inicio .contenido-seccion .info .redes{
        margin: 20px 0;
    }

    .inicio .contenido-seccion .info .redes a{
        display: inline-block;
        text-decoration: none;
        background-color: var(--negro);
        color: var(--verde);
        border: 2px solid var(--verde);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 5px;
        transition: .3s;
    }

    .inicio .contenido-seccion .info .redes a:hover{
        color: var(--blanco);
        background-color: var(--verde);
        box-shadow: 0 0 20px var(--blanco);
    }

    .inicio .contenido-seccion .foto{
        position: relative;
    }

    .inicio .contenido-seccion .foto img{
        height: 150px; /*---Agregado---*/
        max-width: 150px; /*---Modificado---(Inicialmente el valor era de 200)*/
        border-radius: 50%;
        border: 5px solid var(--verde);
        position: absolute;
        left: 50%;
        top: 10px; 
        transform: translateX(-50%);
    }



/*----------Estilos Generales----------*/
.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 50px; /*---Modificado---(Inicialmente era de 1.5rem)*/
    text-decoration: underline 5px; /*---Agregado---*/
    
}

/*----------SECCION SOBRE MI----------*/
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion .especial{
    color: var(--verde);
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col{
    width: 30%;
}

.sobremi .contenido-seccion .fila .col i{
    color: var(--verde);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid var(--verde);
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}



/*----------SECCION MIS HABILIDADES----------*/
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg");
    background-size: cover;
    background-attachment: fixed; /*Determina que la posición de la imagen de fondo será fija dentro de la pantalla dando un estilo como de desplazamiento del contenido sobre la imagen de fondo*/
    background-position: center center;
    color: var(--blanco);
}

.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}

.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}

.habilidades .contenido-seccion .barra{
    display: flex;
    border:  1px solid var(--verde);
    padding: 2px;
    border-radius: 15px; /*---Modificado---(Inicialmente era de 3px)*/
    margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e{
    background-color: #1b620e/*var(--verde)*/;
    border-radius: 47%; /*---Agregado---*/
    width: 20px;
    height: 30px;
    margin-right: 2px;
}



/*----------SECCION RESUMEN----------*/
.resumen{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resumen .contenido-seccion .info .col{
    width: 45%;
}

.resumen .contenido-seccion .info .titulo{
    display: inline-block;
    color: var(--verde);
    font-weight: bold;
    border: 2px solid var(--verde);
    padding: 10px;
    border-radius: 10%; /*---Agregado---*/
}

.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}

.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}

.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}

.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: var(--verde);
    margin-top: 10px;
    font-weight: bold;
}

.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}



/*----------SECCION CONTACTO----------*/
.contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
}

.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}

.contacto .contenido-seccion .fila .col h2{
    color: var(--verde);
}




















